.zoom {
    transition: transform .01s;
    margin: 0 auto;
  }

  .zoom:hover {
    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Safari 3-8 */
    transform: scale(1.3);
  }